html, body, head, header, footer, div, tr, th, td, table, li, ul, ol, h1, h2, h3, h4, h5, a { border:0; margin:0; padding:0; }
header#header { width:100%; height:60px; }
header#header > img { float:right; height:50px; }
